// 公共变量
$bgColor: #cccccc;

// 公共样式 
h1 {
  font-weight: bold;
}

// 白昼主题
.v-application.v-theme--light {
  background: linear-gradient(
    90deg,
    rgba(247, 149, 51, 0.1),
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1)
  );
  color: #4c4948;
}

.v-application.v-theme--light a {
  color: #4c4948;
  text-decoration: none;
}

.toc-list {
  padding: 0;
  .toc-list-item{
    line-height: 2;
    list-style: none;
    .toc-link {
      display: block;
      border-left: 3px solid transparent;
      padding-left: 6px;
      color: #666261 !important;
      transition: all .2s ease-in-out;
    }
    .is-active-link{
      border-left-color: #009d92;
      background: #00c4b6;
      color: #fff !important;
      &::before {
        background-color: white;
      }
    }
  }
}

